{{> navigation}}
{{> checkout}}

<button on="tap:checkout.toggle" class="ampstart-btn caps m2">Toggle checkout</button>
<button on="tap:navigation.toggle" class="ampstart-btn caps m2">Toggle navi</button>